
.wrapper_header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fb5731;
    z-index: 99;
}

.icon{
    font-size: 20px;
    padding-right: 5px;
}
.custommlr {
    margin-right: 50px;
}
.custompl {
    padding-left: 2px;
}